<!DOCTYPE html>
<html>
<head>
    <title>{{advisory-title}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        @font-face {
            font-family: Arial Unicode MS;
        }

        div.header {
            display: block;
            height: 60px;
            margin-bottom: 20px;
            position: running(header);
        }

        @page {
            @top-right {
                content: element(header)
            }
        }

        @media print {
            .advisory-title {
                font-weight: 600;
                font-size: 34px;
                width: 200%;
                margin-bottom: 20px;
                color: #272727;
            }

            .advisory-data {
                font-weight: 400;
                font-size: 20px;
                width: 100%;
                margin-bottom: 20px;
                color: #232323;
            }

            .advisory-score {
                font-weight: 400;
                font-size: 18px;
                width: 100%;
                margin-bottom: 20px;
                color: #232323;
            }

            .advisory-data-heading {
                font-weight: bold;
                font-size: 18px;
                width: 100%;
                margin-bottom: 20px;
                color: #262626;
            }

            .advisory-data-style {
                padding: 5% 7%;
                font-family: arial;
                font-size: 13px;
                line-height: 30px;
                color: #676767;
                border-top: 1px solid #ffffff;
                padding-top: 15px;
                padding-bottom: 15px;
            }

            .advisory-data-value {
                font-weight: 400;
                font-size: 15px;
                width: 100%;
                margin-bottom: 20px;
                color: #3e3e3e;

            }

            .table-wum-patch {
                page-break-after: auto;
                padding-left: 25px;
                border-collapse: collapse;
                border: 1px solid black;
                line-height: 40px;
                align-content: center;
                margin-top: 20px;
                font-size: 13px;
            }

            .wum-table-row {
                page-break-inside: avoid;
                page-break-after: auto;
                border-collapse: collapse;
                border: 0.5px solid black;
            }

            .wum-table-data {
                page-break-inside: avoid;
                page-break-after: auto;
                border-collapse: collapse;
                border: 0.5px solid black;
                font-size: 13px;
                color: #232323;
                padding-left: 5px;
            }

            .wum-table-head {
                background-color: #cccccc;
                color: #232323;
                padding-left: 5px;
                border-collapse: collapse;
                border: 0.5px solid black;
                margin-left: 10px;
                margin-right: 4px;
                font-size: 15px;
            }

            .list {
                border-collapse: collapse;
                align-content: center;
                padding-left: 5px;
                font-size: 13px;
                border: 0.5px white;
                list-style: none;
            }

            .patch-table-head {
                page-break-inside: avoid;
                page-break-after: auto;
                background-color: #cccccc;
                color: #232323;
                font-size: 15px;
                border-collapse: collapse;
                border: 0.5px solid black;
            }

            .patch-table-data {
                page-break-inside: avoid;
                page-break-after: auto;
                color: #232323;
                font-size: 13px;
                border-collapse: collapse;
                border: 0.5px solid black;
            }

            .page-footer {
                position: absolute;
                top: 25cm;
                width: 100%;
            }

            #front-page #info {
                margin-top: 100px;
                width: 100%;
                line-height: 50px
            }

            #affected-products {
                margin-top: 20px;
            }

            #overview {
                margin-top: 20px;
            }

            #description {
                margin-top: 20px;
            }

            #impact {
                margin-top: 20px;
            }

            #solution {
                margin-top: 20px;
            }

            #content-page {
                margin-top: 20px;
                color: #3a3a3a;
            }

            #patch-list {
                margin-top: 50px;
            }

            #public-disclosure {
                margin-top: 20px;
            }

            #notes {
                margin-top: 10px;
            }

            #thanks {
                margin-top: 10px;
            }

            #patch-supported-versions-table {
                border-collapse: collapse;
                border-style: solid;
                border-color: white;
                margin: 0px 0px;
            }

            #patch-supported-versions-head {
                border-collapse: collapse;
                border-style: solid;
                border-color: #cccccc;
                margin: 0px 0px;
            }
        }
    </style>
</head>
<body>
<div class='header'>
    <tr>
        <td
                style="text-align: right; width: 800px; background: #ffffff;  margin-top: 5px;margin-bottom: 20px"
                colspan="2">
            <img style="height: 45px; text-align: right;width: 100%; margin-top: 5px;margin-bottom: 20px;"
                 src="http://b.content.wso2.com/sites/all/wum/wso2-logo-w.png"/>
        </td>
    </tr>
</div>
<div style="width: 100%; margin: auto; background-color: #ffffff;">
    <table id="content-page" style="padding: 0 0; width: 100%; background: #ffffff;">
        <tr>
            <td colspan="2"
                class="advisory-data-style">
                <table id="info">
                    <tr>
                        <span class="advisory-title">{{advisory-title}}</span><br/>
                    </tr>
                    <tr>
                        <br/>
                        <span class="advisory-data">{{advisory-name}}</span>
                    </tr>
                    <tr>
                        <span class="advisory-data">{{advisory-date}}</span>
                    </tr>
                    <tr>
                        <span class="advisory-score">Severity : </span>
                        <span class="advisory-score">{{severity}}</span>
                    </tr>
                    {{#if score}}
                        <tr>
                            <span class="advisory-score">CVSS Score : </span>
                            <span class="advisory-score">{{score}}</span>
                        </tr>
                    {{/if}}
                </table>
            </td>
        </tr>
        <br></br>
        <tr>
            <span class="advisory-data-heading">AFFECTED PRODUCTS </span>
        </tr>
        <tr>
            <td colspan="2" class="advisory-data-value">
                <table class="advisory-data-value" id="affected-products">

                    <ul>
                        {{#affected-all-products}}
                            <li style="list-style: none;line-height:70%">
                                {{product-name}}
                                <span style="display:inline-block; width: 30px;font-size: 15px;"></span>
                                {{#product-versions}}
                                    {{#version-number}}
                                        {{.}}
                                    {{/version-number}}
                                    {{#unless @last}},{{/unless}}
                                {{/product-versions}}
                            </li>
                            <br></br>
                        {{/affected-all-products}}
                    </ul>
                </table>
            </td>
        </tr>
        <span class="break-page"></span>
        <tr>
            <td colspan="2" class="advisory-data-style">
                <table id="overview" style="width: 100%;">
                    <tr>
                        <span class="advisory-data-heading">OVERVIEW </span><br/>
                    </tr>
                    <tr>
                        <span class="advisory-data-value">{{overview}} </span>
                    </tr>
                </table>
            </td>
        </tr>
        <span class="break-page"></span>
        <tr>
            <td colspan="2" class="advisory-data-style">
                <table id="description" style="width: 100%; line-height: 30px">
                    <tr>
                        <span class="advisory-data-heading">DESCRIPTION  </span><br/>
                    </tr>
                    <tr>
                        <span class="advisory-data-value">{{description}} </span>
                    </tr>
                </table>
            </td>
        </tr>
        <span class="break-page"></span>
        <tr>
            <td colspan="2" class="advisory-data-style">
                <table id="impact" style="width: 100%; line-height: 30px">
                    <tr>
                        <span class="advisory-data-heading">IMPACT  </span><br/>
                    </tr>
                    <tr>
                        <span class="advisory-data-value">{{impact}} </span>
                    </tr>
                </table>
            </td>
        </tr>
        <span class="break-page"></span>
        <tr>
            <td colspan="2" class="advisory-data-style">
                <table id="solution" style="width: 100%;">
                    <tr>
                        <span class="advisory-data-heading">SOLUTION  </span><br/>
                    </tr>
                    <tr>
                        <span class="advisory-data-value">{{solution}} </span><br/>
                    </tr>
                    {{^affected-wum-products.empty}}
                        <span class="break-page"></span>
                        <tr><br/><u
                                class="advisory-data-value">For</u>
                            <u>
                                <a href="https://wso2.com/updates/wum">WSO2 Update Manager (WUM)</a>
                            </u>
                            <u class="advisory-data-value">Supported Products</u><br/>
                        </tr>
                        <span class="advisory-data-value">Please use WUM to update the following products.
                     Patches can be used in case WUM is not applicable.</span>
                        <table class="table-wum-patch"
                               cellspacing="10">
                            <tr class="wum-table-row" style="font-weight: bold">
                                <th class="wum-table-head" style="width: 80px">
                                    Code
                                </th>
                                <th class="wum-table-head" style="width: 200px">
                                    Product
                                </th>
                                <th class="wum-table-head" style="width: 60px">
                                    Version
                                </th>
                            </tr>
                            {{#affected-wum-products}}
                                <tr class="wum-table-row">
                                    <td class="wum-table-data"> {{product-code}}</td>
                                    <td class="wum-table-data">  {{product-name}}</td>
                                    <td class="wum-table-data">
                                        {{#product-versions}}
                                            {{#version-number}}
                                                <li class="list" style="line-height:200%">
                                                    {{.}}
                                                </li>
                                            {{/version-number}}
                                        {{/product-versions}}
                                    </td>
                                </tr>
                            {{/affected-wum-products}}
                        </table>
                        <br/> <br/>
                    {{/affected-wum-products.empty}}
                    <span class="break-page"></span>
                </table>
            </td>
        </tr>
        <span class="break-page"></span>
        {{^affected-patch-products.empty}}
            <u
                    class="advisory-data-value">For
                Patch Supported Products</u><br/><br/>
            <span class="advisory-data-value">Apply the following patches based on your product version
            by following the instructions in the README file. Please use your WSO2 support credentials
            to access the patch links.</span>
            <br/><br/>
            <tr>
                <td id="patch-list">
                    {{#each applicable-patches}}
                        <li class="list" style="line-height:70%">
                            {{patch-name}}
                            <span style="display:inline-block; width: 30px;font-size: 13px;"></span>
                            <a href="{{zip-location}}">Download here</a>
                        </li>
                        <br></br>
                    {{/each}}
                </td>
            </tr>
            <span class="break-page"></span>
            <br/><br/><span
                class="advisory-data-value">Please download the relevant patches based on the products
            you use following the matrix below.</span> <br/><br/>
            <span class="break-page"></span>
            <table class="table-wum-patch"
                   style="page-break-after:auto;border-collapse: collapse;width:100%; height:100%">
                <thead>
                <tr style="page-break-inside:avoid; page-break-after:auto">
                    <th class="patch-table-head" style="padding-left: 5px;width: 15%">
                        Code
                    </th>
                    <th class="patch-table-head" style="padding-left: 5px;width: 37%">
                        Product
                    </th>
                    <th class="patch-table-head" style="width: 48%">
                        <table id="patch-supported-versions-head"
                               style="page-break-after:auto;border-collapse: collapse;width:100%; height:100%">
                            <tr class="patch-table-head">
                                <td class="patch-table-head" style="width: 20%">
                                    Version
                                </td>
                                <td class="patch-table-head" style="width: 80%">
                                    Patch
                                </td>
                            </tr>
                        </table>
                    </th>
                </tr>
                {{#each affected-patch-products}}
                    <tr class="patch-table-data">
                        <td class="patch-table-data"
                            style="padding-left: 5px; width: 15%"> {{product-code}}</td>
                        <td class="patch-table-data"
                            style="padding-left: 5px; width: 44%">  {{product-name}}</td>
                        <td colspan="2"
                            class="patch-table-data" style="width: 40%;height:100%">
                            <table id="patch-supported-versions-table"
                                   style="page-break-after:auto;border-collapse: collapse;width:100%; height:100%">
                                {{#each product-versions}}
                                    <tr class="patch-table-data">
                                        <td class="patch-table-data" style="width: 20%">
                                            <li class="list">{{version-number}}</li>
                                        </td>
                                        <td class="patch-table-data" style="width:80%">
                                            {{#patch-list}}
                                                <li class="list">
                                                    {{.}}
                                                </li>
                                            {{/patch-list}}
                                        </td>
                                    </tr>
                                {{/each}}
                            </table>
                        </td>
                    </tr>
                {{/each}}
                </thead>
            </table>
        {{/affected-patch-products.empty}}

        {{^public-disclosure.empty}}
            <span class="break-page"></span>
            <tr>
                <td colspan="2" class="advisory-data-style">
                    <table id="public-disclosure" style="width: 100%;">
                        <tr>
                            <span class="advisory-data-heading">PUBLIC DISCLOSURE</span><br/>
                            <span class="advisory-data-value">{{public-disclosure}}</span><br/>
                        </tr>
                    </table>
                </td>
            </tr>
        {{/public-disclosure.empty}}

        <span class="break-page"></span>
        <tr>
            <td colspan="2" class="advisory-data-style">
                <table id="notes" style="width: 100%;">
                    <tr>
                        <span class="advisory-data-heading">NOTES </span><br/>
                        <span class="advisory-data-value">{{notes}}</span><br/>
                    </tr>
                </table>
            </td>
        </tr>
        <span class="break-page"></span>
        <tr id="thanks" style="line-height: 30px">
            <span class="advisory-data-value">Thanks, </span><br/>
            <span class="advisory-data-value">{{thanks}}</span><br/>
        </tr>
    </table>
</div>
</body>
</html>